@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --link-color: #B79D60;
    --main-color: #4e4531;
    --secondary-color: #f7f2e6;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.column-span-all {
    column-span: all;
}

.my-drop-shadow:hover {
    filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.15)) drop-shadow(0 8px 5px rgb(0 0 0 / 0.3));
}


div:hover>#icon-download {
    transform: scale(1.5);
}

@media (max-width: 768px) {
    #download-button:hover #icon-download {
        transform: scale(1);
    }
}

a {
    color: var(--link-color);
    text-decoration-color: var(--link-color);
    text-decoration-thickness: 2px;
}

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 200ms ease-out;
}

.ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModal__Overlay--before-close {
    opacity: 0;
}

input[type="checkbox"].customCB {  
    appearance: none;
    background-color: #fff;
    font: inherit;
    color: var(--link-color);
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid var(--link-color);
    border-radius: 0.3em;
    display: grid;
    place-content: center;
  }
  
  input[type="checkbox"].customCB::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 0.15em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--link-color);
  }
  
  input[type="checkbox"].customCB:checked::before {
    transform: scale(1);
  }